
logs/

outputs/

scripts/reinforcement_learning/__pycache__/

scripts/reinforcement_learning/rsl_rl/__pycache__/

source/robot_lab/robot_lab/__pycache__/

source/robot_lab/robot_lab/assets/__pycache__/

source/robot_lab/robot_lab/assets/utils/__pycache__/

source/robot_lab/robot_lab/tasks/__pycache__/

source/robot_lab/robot_lab/tasks/direct/__pycache__/

source/robot_lab/robot_lab/tasks/direct/g1_amp/__pycache__/

source/robot_lab/robot_lab/tasks/direct/g1_amp/agents/__pycache__/

source/robot_lab/robot_lab/tasks/direct/g1_amp/motions/__pycache__/

wandb/

*.pyc
